body {
  text-align: center;
}

.test {
  background-color: #fcffa6;
}
.budget {
  background-color: #fcffa6;
  text-align: center;
}

.tips {
  background-color: #c1ffd7;
}

.contact {
  background-color: #b5deff;
}

.footer {
  background: #cab8ff;
}
